 body {
background-color: azure;    font-family: Arial, sans-serif;
    margin: 100;
    padding: 50;
   text-decoration : none ;
} 
 header img {
    max-width: 200px; /* Ajustez la largeur maximale selon vos besoins */
    max-height: 200px; /* Ajustez la hauteur maximale selon vos besoins */
    border-radius: 0%; /* Pour créer un effet de coin arrondi */
    position: absolute;
    left: 50Px; /* Ajustez la position horizontale selon vos besoins */
    top: 10px; /* Ajustez la position verticale selon vos besoins */
} 
ul{ padding: 5%;}
li div {padding: 2%;}
div p {
    padding: 2%;
}
h3{
    text-align: center;
}
nav {
    color: #ddd;
}
header {
     background-color: #e4e4f7; 
    color: black; 
    padding: 20px; 
    text-align: center;
}
img {
     height: 70%;
}
footer {
    background-color: dimgrey;
    color: #fff;
    padding: 20px;
    text-align: center;
}
